/* ==========================================================================
   #FILTER
   ========================================================================== */

.c-filter {
  float: right;
  margin-right: $spacing;
}

  .c-filter__select {
    color: #333;
  }
