/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove default list style.
 */

ol, ul {
  list-style: none;
}


/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 *
 */

input,
button {
  padding: 0;
  border: none;
  background: none;
}

/**
 *
 */

html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  padding: .625rem;
  background-color: #fff;
}

img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  font-style: italic;
}
